*.iml
*.jks
*.keystore
*.p12
local.properties
/app/src/test
/app/src/androidTest
/app/app.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
错误提示.txt
/app/release